<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSAside.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A7E198B1C548C77001210FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7E19A21C548C78001210FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A7E19AD1C548C78001210FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
